@import '../core/variables';

.product-card {
	display: flex;
	flex-direction: column;
	gap: 1em;
	position: relative;
	top: 0;
	opacity: 1;
	transition-property: top, opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
	&.preload {
		padding: 0;
		top: 1em;
		opacity: 0;
	}
	&__media {
		position: relative;
		img {
			width: 100%;
			height: auto;
			padding: 1em;
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
			border-radius: $radius;
			background-color: $white;
		}
		.sticker {
			position: absolute;
			left: -2px;
			top: -2px;
			width: 3em;
			height: auto;
			padding: 0;
			box-shadow: none;
			border-radius: 0;
		}
		a {
			position: relative;
		}
		.stickers {
			position: absolute;
			right: 0.25em;
			top: 0.25em;
			&__sticker {
				background-color: $grey;
				color: $black;
				line-height: 1;
				padding: 0.25em 0.5em;
				border-radius: $radius;
			}
			span {
				font-size: 0.75em;
				font-weight: $font-bold;
			}
		}
	}
	&__details {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 0.25em;
		a {
			text-decoration: none;
		}
	}
	&__price {
		margin-bottom: 0.5em;
		.price {
			display: flex;
			gap: 0.5em;
			justify-content: center;
			font-weight: $font-bold;
		}
		ins,
		del {
			font-size: 1em;
		}
		del {
			text-decoration-thickness: 1px;
			font-weight: $font-regular;
		}
		ins {
			border: none;
			color: $spot;
		}
	}
}
