@import '../core/variables';

.product {
	padding: 3em 0 4em 0;
	@media (max-width: $w-m) {
		padding: 1em 0 1.5em 0;
	}
	&__inner {
		display: grid;
		grid-template-columns: 55% 1fr;
		gap: 3em;
		position: relative;
		@media (max-width: $w-l) {
			grid-template-columns: 1fr 1fr;
			gap: 2em;
		}
		@media (max-width: $w-m) {
			grid-template-columns: 1fr;
			grid-template-rows: auto 1fr;
			gap: 2em;
			overflow: hidden;
		}
		.sticker {
			position: absolute;
			left: -3px;
			top: -3px;
			z-index: 3;
		}
	}
	&__media {
		@media (max-width: $w-m) {
			width: 100%;
			max-width: 100%;
			overflow: visible;
			border: 1px solid $grey;
			border-radius: $radius;
			overflow: hidden;
			position: relative;
		}
		&__images {
			@media (max-width: $w-m) {
				width: 100%;
				max-width: 100%;
			}
			.swiper,
			.swiper-wrapper,
			.swiper-slide {
				@media (min-width: 769px) {
					all: unset;
				}
			}
			.swiper-slide {
				@media (max-width: $w-m) {
					width: 100% !important;
					max-width: 100% !important;
					height: auto;
				}
			}
			.swiper-wrapper {
				@media (min-width: 769px) {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: 1em;
				}
			}
		}
		.large {
			grid-column: 1 / span 2;
		}
		.image-wrapper {
			border-radius: $radius;
			top: 0;
			opacity: 1;
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
			transition-property: top, opacity;
			transition-duration: 0.25s;
			transition-timing-function: ease-out;
			position: relative;
			@media (max-width: $w-m) {
				display: inline-block;
				box-shadow: none;
				padding: 1em;
				background: $white !important;
			}
			&.preload {
				top: 1em;
				opacity: 0;
			}
			&:hover {
				img {
					@media (min-width: 769px) {
						opacity: 0;
					}
				}
			}
		}
		img {
			width: 100%;
			height: auto;
			@media (min-width: 769px) {
				padding: 1em;
				background-color: $white;
			}
		}
		.button-slider {
			display: none;
			@media (max-width: $w-m) {
				display: block;
				background: transparent url(arrow-left-dark.svg) no-repeat 50% 50% / 2em;
				width: 2em;
				height: 5em;
				position: absolute;
				z-index: 7;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				&--next {
					left: auto;
					right: 0;
					background: transparent url(arrow-right-dark.svg) no-repeat 50% 50% / 2em;
				}
			}
		}
	}
	&__info {
		// position: sticky;
		// align-self: start;
		&__brand-reviews {
			display: flex;
			align-content: center;
			justify-content: space-between;
			margin-bottom: 1em;
		}
		&__brand {
			font-size: 0.85em;
			text-transform: uppercase;
		}
		&__title {
			h1 {
				margin-bottom: 1em;
			}
		}
		&__price {
			margin-bottom: 0.5em;
			.price {
				display: flex;
				gap: 0.5em;
			}
			ins,
			del {
				font-size: 1.25em;
			}
			del {
				text-decoration-thickness: 1px;
			}
			ins {
				border: none;
				font-weight: $font-bold;
				color: $spot;
			}
		}
		&__laybuy {
			margin-bottom: 2em;
			p {
				display: flex;
				flex-wrap: wrap;
				img {
					margin-left: 0.35em;
				}
				span {
					display: flex;
					align-items: center;
				}
				.laybuy-text1,
				.laybuy-text3,
				.laybuy-money {
					font-size: 0.75em;
				}
				.laybuy-money {
					margin: 0 0.35em;
					font-weight: $font-bold;
				}
				a {
					display: block;
					width: 100%;
					font-size: 0.75em;
				}
			}
		}
		&__variants {
			display: flex;
			flex-direction: column;
			gap: 1em;
			margin-bottom: 1.5em;
		}
		&__variant {
			.variant-title {
				margin-bottom: 0.5em;
				span {
					font-size: 0.85em;
					font-weight: $font-bold;
				}
			}
			.variant-options {
				display: flex;
				gap: 0.5em;
				flex-wrap: wrap;
			}
			.variant-option {
				button {
					appearance: none;
					font: 1em $font-base;
					background-color: transparent;
					display: block;
					width: 3.5em;
					height: 3.5em;
					border: 1px solid $grey-dark;
					box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
					border-radius: $radius;
					cursor: pointer;
					transition: $transition;
					&:hover,
					&:focus {
						border-color: $grey-darker;
					}
					&.active {
						border-color: $black;
					}
				}
				label {
					display: block;
					padding: 0.5em 0.85em;
					border: 1px solid $grey-dark;
					box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
					border-radius: $radius;
					cursor: pointer;
					transition: $transition;
					&.disabled {
						color: $grey;
						border-color: $grey;
						&:hover {
							border-color: $grey;
						}
					}
					&:hover,
					&:focus {
						border-color: $grey-darker;
					}
					&.active {
						border-color: $black;
					}
					span {
						font-size: 0.85em;
					}
					input {
						display: none;
					}
				}
			}
		}
		&__guide {
			margin-bottom: 1em;
			button {
				font: 1em $font-base;
				text-decoration: underline;
				background-color: transparent;
				border: none;
				font-size: 0.875em;
				display: flex;
				align-items: center;
				gap: 0.35em;
				white-space: nowrap;
				cursor: pointer;
				svg {
					width: 1.25em;
					height: 1.25em;
					fill: none;
					stroke: $black;
					stroke-linecap: round;
					stroke-linejoin: round;
					stroke-width: 2px;
				}
			}
		}
		&__actions {
			display: grid;
			grid-template-columns: 1fr auto;
			gap: 0.5em;
			margin-bottom: 1.5em;
			button {
				font: 1em $font-base;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				border-radius: $radius;
				transition: $transition;
				height: 2.75em;
				span {
					text-transform: uppercase;
					font-weight: $font-bold;
					font-size: 1.125em;
				}
			}
			.add-to-cart {
				width: 100%;
				background-color: $cta;
				color: $white;
				border: none;
				text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
				&:hover,
				&:focus {
					background-color: $cta-accent;
				}
			}
			.add-to-wishlist {
				width: 3.5em;
				background-color: $white;
				color: $white;
				border: 1px solid $grey-dark;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
				&:hover {
					background-color: $white;
					border-color: $grey-darker;
				}
				&:focus {
					background-color: $white;
					border-color: $grey-dark;
				}
				svg {
					width: 1.25em;
					height: 1.25em;
					fill: $grey-dark;
					transition: $transition;
				}
				&.active {
					svg {
						fill: $black;
					}
				}
			}
		}
		&__payment {
			display: grid;
			grid-template-rows: auto;
			gap: 0.25em;
			margin-bottom: 1.5em;
			span {
				font-size: 0.75em;
			}
			img {
				width: auto;
				max-width: auto;
			}
		}
		&__delivery {
			font-size: 0.85em;
			margin-bottom: 2em;
		}
		&__imbox {
			margin-bottom: 2em;
			.imbox {
				border: 1px solid $grey-darker;
				border-radius: $radius;
				padding: 1.5em;
				&__option {
					margin-bottom: 1.25em;
					label {
						display: flex;
						gap: 0.5em;
						align-items: center;
					}
					span {
						display: block;
						font-size: 0.875em;
						font-weight: $font-bold;
					}
				}
				&__details {
					display: grid;
					grid-template-columns: 3em 1fr;
					gap: 1.25em;
					img {
						width: 100%;
						height: auto;
					}
					p,
					ul {
						font-size: 0.825em;
					}
					p {
						margin-bottom: 1em;
						&:last-of-type {
							margin: 0;
						}
					}
					ul {
						margin-left: 2em;
						margin-bottom: 1em;
						list-style: disc;
					}
					&__images {
						display: flex;
						flex-direction: column;
						gap: 1.5em;
					}
				}
			}
		}
		&__accordions {
			.accordion {
				&.open {
					.accordion-title {
						svg {
							transform: rotate(-45deg);
						}
					}
					.accordion-content {
						display: block;
					}
				}
				&:first-of-type {
					.accordion-title {
						border-top-color: $black;
					}
				}
				&:last-of-type {
					border-bottom: 1px solid $grey-dark;
				}
				.accordion-title {
					font: 1em $font-base;
					display: flex;
					justify-content: space-between;
					align-items: center;
					cursor: pointer;
					height: 3.5em;
					color: $black;
					background-color: $white;
					border: none;
					border-top: 1px solid $grey-dark;
					width: 100%;
					font-weight: $font-bold;
					&:hover,
					&:focus {
						background-color: $white;
						cursor: pointer;
					}
					svg {
						width: 0.85em;
						height: 0.85em;
						transition: $transition;
					}
				}
				.accordion-content {
					display: none;
					padding-top: 0.15em;
					padding-bottom: 2em;
					font-size: 1em;
					p {
						font-size: 0.85em;
					}
					table {
						width: 100%;
						border-collapse: collapse;
						text-align: center;
					}
					th {
						font-size: 0.825em;
						border: 1px solid $grey-darker;
						padding: 0.5em;
						background-color: $grey;
						min-width: 8em;
					}
					td {
						border: 1px solid $grey-darker;
						padding: 0.5em;
						font-size: 0.825em;
					}
				}
				&.open {
					.accordion-content {
						display: block;
					}
				}
			}
		}
	}
}
