@import '../core/variables';

.related {
	position: relative;
	border-top: 1px solid $grey;
	padding: 4em 0;
	background-color: $grey-light;
	&__header {
		h3 {
			font-size: 1.75em;
			margin-bottom: 0.35em;
		}
		text-align: center;
		text-transform: capitalize;
		margin-bottom: 3em;
	}
	&__products {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 3em;
	}
}
