.header {
	background-color: $white;
	border-bottom: 1px solid $grey;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
	position: sticky;
	top: 0;
	z-index: 9;
	&__inner {
		padding: 1em 0;
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		@media (max-width: $w-l) {
			grid-template-columns: 1fr auto 1fr;
		}
	}
	&__mobile-toggle {
		display: none;
		@media (max-width: $w-l) {
			display: flex;
		}
		button {
			appearance: none;
			font: 1em $font-base;
			border: none;
			background-color: transparent;
			display: flex;
			width: 1.5em;
			height: 2em;
			min-width: 1.5em;
			justify-content: center;
			align-items: center;
			svg {
				width: 1.5em;
				height: 1.5em;
				display: block;
				line-height: 1;
				fill: $black;
			}
		}
	}
	&__branding {
		img {
			width: 7em;
			height: auto;
		}
	}
	&__menu {
		display: flex;
		align-items: center;
		ul {
			display: flex;
			gap: 0.5em;
			@media (max-width: $w-l) {
				gap: 1em;
			}
			a {
				text-decoration: none;
			}
			span {
				font-size: 0.8125em;
				text-transform: uppercase;
				font-weight: $font-bold;
			}
		}
		&--main {
			ul {
				gap: 1.5em;
			}
		}
		&--tools {
			justify-content: flex-end;
			svg {
				width: 1.25em;
				height: 1.25em;
				fill: $black;
			}
			a {
				display: flex;
				width: 2em;
				height: 2em;
				justify-content: center;
				align-items: center;
				&:hover {
					svg {
						fill: $spot;
					}
				}
			}
		}
		&--main {
			@media (max-width: $w-l) {
				display: none;
			}
		}
		&__link {
			&--search {
				@media (max-width: $w-l) {
					display: none;
				}
			}
		}
	}
}
