$font-family: 'poppins', arial, sans-serif;
$font-bold: 600;
$font-medium: 400;
$font-regular: 300;

$white: #ffffff;
$black: #151515;
$black-accent: #252525;
$grey: #f0f0f0;
$grey-dark: #e5e5e5;
$grey-darker: #d1d1d1;
$spot: #ff6600;
$spot-accent: #ff4800;

$height-header: 2.5em;

$transition: all linear 0.1s;

$radius: 2px;

$w-xl: 1440px;
$w-l: 1024px;
$w-m: 768px;
$w-s: 480px;
$w-xs: 320px;
